<section id="work">
	<div class="work-wrap">
		<ul>
			<li class="wp3">
				<figure>
					<img src="../assets/img/01-butler-screenshot.jpg" alt="Butler">
					<figcaption>
						<a href="http://butlerproject.herokuapp.com/" target="_blank" class="caption-content thumb-overlay">
							<h1>Butler</h1>
							<p class="description">Simple Todo List App</p>
							<p><em>Ruby on Rails</em></p>
						</a>
					</figcaption>
				</figure>
			</li>
			<li class="wp3 delay-05s">
				<figure>
					<img src="../assets/img/02-tinyvessel-screenshot.jpg" alt="Butler">
					<figcaption>
						<a href="http://tinyvessel.herokuapp.com/" target="_blank" class="caption-content thumb-overlay">
							<h1>Tiny Vessel</h1>
							<p class="description">Community Forum for Web Devs/Designers</p>
							<p><em>Ruby on Rails</em></p>
						</a>
					</figcaption>
				</figure>
			</li>
			<li class="wp3 delay-1s">
				<figure>
					<img src="../assets/img/03-treasureisland-screenshot.jpg" alt="Butler">
					<figcaption>
						<a href="http://treasureisland.herokuapp.com/" target="_blank" class="caption-content thumb-overlay">
							<h1>Treasure Island</h1>
							<p class="description">Website/Resource Sharing App</p>
							<p><em>Ruby on Rails</em></p>
						</a>
					</figcaption>
				</figure>
			</li>
		</ul>
	</div>
</section>
