#about {
	.about-content {
		text-align: center;
		max-width: 740px;
		margin: 0 auto;

		.avatar {
			@include size(120px);
			margin: 0px auto 40px auto;

			img {
				border-radius: 50%;
				width: 100%;
			}
		}

		.quote {
			font-size: 1.2rem;
			font-weight: 600;
		}
	}
}
