$default-text-color: #323232;
$header-text-color: #e6f5ef;
$gray-color: #666666;
$accent-color: #1ab;
$dark-green: #0c4b52;
$pink: #ff385b;
$linkedin: #0077b5;
$github: #333333;
$twitter: #55acee;
$instagram: #3f729b;
$email: #1bbC9b;
