@import "colors";

#contact {
	padding: 0;
	margin-bottom: 150px;
	text-align: right;

	.social-links {
		font-size: 1.5rem;

		a {
			@include size(80px);
			display: inline-block;
			text-align: center;
			line-height: 80px;
			color: white;
			margin-left: 1.2rem;
			margin-bottom: 1rem;
			margin-top: 1rem;
			border-radius: 50%;
		}

		.linkedin {
			background: $linkedin;

			&:hover {
				background: darken($linkedin, 10%);
			}
		}

		.github {
			background: $github;

			&:hover {
				background: darken($github, 10%);
			}
		}

		.twitter {
			background: $twitter;

			&:hover {
				background: darken($twitter, 10%);
			}
		}

		.instagram {
			background: $instagram;

			&:hover {
				background: darken($instagram, 10%);
			}
		}

		.email {
			background: $email;

			&:hover {
				background: darken($email, 10%);
			}
		}
	}
}
