header {
	height: 100%;

	@media only screen and (max-width: 640px) {
		min-height: 568px;
		height: 568px;
	}
}

#hero {
	height: 100%;
	background: url(../img/hero_bg.jpg) fixed center center;
	background-size: cover;
	color: $header-text-color;

	@media only screen and (max-width: 640px) {
		background: url(../img/hero_bg.jpg) no-repeat center center;
		min-height: 568px;
		background-size: cover;
		-webkit-background-size: cover;
	}

	.lead {
		h1 {
			font-size: 3rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		p {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}

	.fixed-navbar {
		position: fixed;
		width: 100%;
		padding: 30px;
		font-size: 2rem;
		z-index: 9999;
		@include transition(background .5s ease-in-out);
		@extend %clearfix;

		.logo {
			float: left;
			font-weight: 600;

			p {
				margin: 0;
				line-height: 1;
				cursor: default;
			}
		}

		.navbar-toggle {
			float: right;
			line-height: 1;
		}
	}

	.navbar-with-bg {
		background: rgba(0,0,0,.9);
		color: white;
		@include transition(background .5s ease-in-out);

		a:hover {
			color: $accent-color;
		}
	}

	.hero-content {
		text-align: center;
		@include display(flex);
		@include size(100%);
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}
