#quote {
	text-align: center;
	margin: 150px 0px;
	padding: 120px 0px;
	background: url(../img/quote_bg.jpg) fixed center center;
	background-size: cover;
	color: white;

	.quote {
		font-weight: 300;
		font-style: italic;
		letter-spacing: .02em;
	}

	.author {
		letter-spacing: .07em;
	}
}
