@import "colors";

#work-intro {
	background: #faf9f5;

	a {
		color: $accent-color;

		&:hover {
			color: darken($accent-color, 10%);
		}
	}
}

.work-content {
	max-width: 500px;
}

#work {
	@extend %clearfix;
	padding: 0;

	ul {
		list-style: none;
		width: 100%;
		padding: 0;
		margin: 0;
		
		li {
			float: left;
			width: 33.33%;
			min-height: 100%;

			figure {
				width: 100%;
				margin: 0;
				overflow: hidden;
				position: relative;

				img {
					@include size(100%);
					vertical-align: middle;
					@include transition(all .3s ease-in-out);
				}

				&:hover img {
					@include transform(scale(1.1));
				}

				&:hover .thumb-overlay {
					@include position(absolute, 0px 0px 0px 0px);
					opacity: 1;
				}

				.thumb-overlay {
					overflow: hidden;
					position: absolute;
					@include display(flex);
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background: rgba(26, 212, 198, 0.9);
					opacity: 0;
					@include transition(all .3s ease-in-out);
					color: white;

					h1 {
						font-weight: 300;
						text-transform: uppercase;
						font-size: 1.4rem;
						letter-spacing: 6px;
						margin: 0;
					}

					.meta {
						font-size: 14px;
					}

					p {
						font-weight: 300;
					}
				}
			}
		}
	}
}
