@import "bourbon/bourbon";
@import "normalize";
@import "syntax";
@import "waypoints";
@import "colors";
@import "fonts";
@import "header";
@import "about";
@import "work";
@import "quote";
@import "contact";
@import "footer";
@import "navigation";

::selection {
	background: #ccf9cd;
}

* {
	box-sizing: border-box;
}

html,
body {
	@include size(100%);
}

body {
	font-family: "Open Sans", $helvetica;
	color: $default-text-color;
	text-shadow: 1px 1px 1px rgba(0,0,0,.01);
}

section {
	padding: 150px 0px;
}

a {
	color: inherit;
	text-decoration: none;
	@include transition(all .3s ease-in-out);

	&:hover {
		color: $accent-color;
	}
}

p {
	line-height: 1.7;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.subtitle {
	font-size: 1.2rem;
	text-transform: uppercase;
}

.text-md {
	color: $gray-color;
	font-size: 18px;
	font-weight: 300;
}

%clearfix {
	zoom: 1;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}
