@import "bourbon/bourbon";
@import "normalize";
@import "syntax";
@import "colors";
@import "header";
@import "about";

* {
	box-sizing: border-box;
}

html,
body {
	@include size(100%);
}

body {
	font-family: "Open Sans", $helvetica;
}

a {
	color: inherit;
}

p {
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
